body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .imagem-principal {
    text-align: center;
    margin-top: 20px;
  }
  
  .imagem-principal img {
    max-width: 100%;
    height: auto;
  }
  